body {
    background-image: linear-gradient(45deg, #49a09d, #002360);
    color: white;
}
select{
  color: black;
  width: 80%;
  font-size: 30px;
  margin: 10px;
}
button {
  background-color: #4b871c; /* Green */
  border: none;
  color: white;
  padding: 15px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  vertical-align: top;
  border-radius: 3px;
}
button:hover{
  background-color: #54991e;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="cb"] {
  display: none;
}
input{
  color: black;
}
label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;

}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  border-radius: 10px;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: green;
  transform: scale(1.5);
  line-height: inherit;
  z-index: 1;
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}
p{
  font-weight: 400;
}
div>input,div>select {
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    border: 0;
  }
  .niceCountryInputMenu  {
    border:0;
  }
  /*size*/
  .unit {
    height: 50px;
    width: 60px;
    margin: 0;
    font-size: 18px;
  }
  .unit-length, .unit-width {
    display: inline-block;
    margin: 10px;
  }

  /*shape*/
  .shapes{
    height: 52px;
  }
  .shapes>div {
    display: none;
  }
  .square-question-mark {
    height: 50px;
    width: 50px;
    background-color: rgba(0,0,0,.5);
    color: rgba(255,255,255,.5);
  }
  .square-question-mark::before {
    display: block;
    content: "?";
    border-radius: 50%;
    background-color: rgba(255,255,255,.2);
    line-height: 49px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
  }
  .square {
    height: 50px;
    width: 50px;
    background-color: rgba(0,0,0,.5);
  }
  .circle {
    height: 50px;
    width: 50px;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
  }
  .oval {
    height: 50px;
    width: 100px;
    background-color: rgba(0,0,0,.5);
    border-radius: 50%;
  }
  .rectangle {
    height: 50px;
    width: 100px;
    background-color: rgba(0,0,0,.5);
  }
  .parallelogram {
    width: 100px;
    height: 50px;
    transform: skew(20deg);
    background: rgba(0,0,0,.5);
  }
  .trapezoid {
    border-bottom: 50px solid rgba(0,0,0,.5);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 125px;
  }
  .triangle-up {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid rgba(0,0,0,.5);
  }
  .triangle-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid rgba(0,0,0,.5);
  }
  .triangle-left {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-right: 50px solid rgba(0,0,0,.5);
    border-bottom: 25px solid transparent;
  }
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid rgba(0,0,0,.5);
    border-bottom: 25px solid transparent;
  }
.currency{
  height: 50px;
  width: 60px;
  margin: 0;
  font-size: 18px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.card-img-top {
    width: 100%;
/*    border-top-right-radius: .99rem;*/
    border-top-left-radius: .99rem;
}
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 100;
  vertical-align: top;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
.goto{
  width: 100%;
  background-color: #dddddd;
  color: black;
  margin: 0;
  height: 37px;
  padding: 0;
  font-size: 12px;
    border-bottom-right-radius: .99rem;
}
.goto:hover{
  background-color: #cccccc;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-bottom-right-radius: .99rem;
    border-bottom-left-radius: .25rem;
    margin-bottom: 20px;
}
.card-text{
  padding: 1.25rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: black;
}
.inner-form {
  background: #fff;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.input-field{
  height: 50px;
  flex-grow: 1;
}
.inner-form .input-field input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 32px;
    font-size: 21px;
    color: #555;
}
.homepageInput {
  font-size: 21px;
  width: 60%;
}
.red {
  background-color: #c64c45;
}
.red:hover {
  background-color: #d85149;
}
.intro {
  width: 100%;
  text-align: center;
}
#name::after {
	/* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#welcome{
/*  background-image: url('../graphics/bg.png');*/
  background-size: cover;
}
.article-wrapper {
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
.logo{
  width: 50%;
}
article {
  position: relative;
  padding-left: 150px;
  padding-right: 39px;
  height: 150px;
  margin-bottom: 30px;
  background-color: #FFF;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  cursor: pointer;
}
article .img-wrapper {
  position: absolute;
  top: -10px;
  left: -10px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-color: #CDE;
  padding: 10px;
  z-index: 1000;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
article .img-wrapper img {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 150px;
}
article h1 {
  height: 75px;
  line-height: 75px;
  font-size: 1.5vw;
  border-bottom: 2px solid #CDE;
  color: black;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
article p {
  color: #000;
}
article a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  line-height: 150px;
  text-align: center;
  width: 100%;
  background-color: #FFF;
  font-size: 48px;
  opacity: 0;
  color: #000 !important;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none !important;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  text-shadow: 0 1px 1px #AAA;
}
article:hover .img-wrapper {
  padding: 5px;
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
article:hover .img-wrapper img {
  width: 160px;
}
article:hover a {
  opacity: 1;
}

.bloc article {
  padding: 10px;
  height: 225px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 75px;
}
.bloc article .img-wrapper {
  position: relative;
  top: -85px;
  width: 170px;
  left: inherit;
  margin: auto;
  margin-bottom: -100px;
}
.bloc article p {
  font-size: 12px;
}
.bloc article a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 255px;
}
.scrollable-element{
    height: 600px;
    overflow-y: scroll;
    margin: 0 auto;
    overflow: hidden;
}
.navbar-default{
  background-color: transparent;
  border: none;
  margin-top: 50px;
}
.niceCountryInputSelector {
    color: black;
    font-size: 21px;
    text-align: left;
    width: 80%;
    margin: 10px auto;
    display: block;
}
.niceCountryInputMenu {
  height: 50px;
  line-height: 50px;
  border:none;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}

.niceCountryInputMenu, .niceCountryInputMenuDropdown {
  height: 50px;
  line-height: 50px;
  border:none;
}

.niceCountryInputMenuDefaultText {
    width: auto;
    display: inline;
    vertical-align: top;
}
.niceCountryInputMenuDropdown span {
  vertical-align: middle;
}
.niceCountryInputMenuDropdown{
  top: 10px;
}
.niceCountryInputMenuCountryFlag {
    border: 1px solid rgba(255,255,255,0.1);
  }
.niceCountryInputMenuFilter input {
  padding: inherit;
  margin-bottom: 0;
}
.niceCountryInputMenuDropdownContent{
  background-color: white;
}
.niceCountryInputMenuFilter{
  background-color: white;
}
.niceCountryInputMenuDropdownContent a {
  color: rgb(255,255,255) !important;
  height: 30px;
  line-height: 30px;
}
.niceCountryInputMenuDropdownContent a:hover {
  background-color: rgba(0,0,0,0.4) !important;
}
@media only screen and (max-width: 600px) {
  .container{
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  article h1 {
    font-size: auto;
  }
  .fp-controlArrow {
    visibility: hidden;
  }
  .card-img-top {
    height: 20px;
  }
  .intro{
    margin-bottom: 20px;
  }
  .searchTitle{
    display: none;
  }
}